﻿<%@ Page Title="AdminZone" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Admin.aspx.cs" Inherits="Scripts_Admin" %>
<%@ Register namespace="MyControls" tagprefix="custom" %>
<%@ Register TagPrefix="cc1" Namespace="AjaxControlToolkit.HTMLEditor" Assembly="AjaxControlToolkit, Version=4.1.51116.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    
   <h1><asp:Label runat="server" >Список пользователей</asp:Label></h1>
   <span ID="no" class = "pseudoButton">
        <asp:Label ID="Label2" Text="Очистить всех" runat="server"/>
   </span>
   <br>
   <span ID="all" class = "pseudoButton">
        <asp:Label ID="Label3" Text="Выбрать всех" runat="server"/>
   </span>
        <asp:CheckBoxList 
            ID="UserList" 
            runat="server"
            DataTextField="Manufacturer" 
            DataValueField="Manufacturer" >
        </asp:CheckBoxList>
    <h1><asp:Label ID="Label1" runat="server" >Текст письма</asp:Label></h1>
         <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <custom:CustomEditor
            ID="Editor1"
            Width="450px" 
            Height="200px"
            runat="server"/>
           <table>
           <tr>
               <td>
           <div ID="btnSubmit" class = "pseudoButton">
                <asp:Label ID="Label4" Text="Отправить" runat="server"/>
          </div>
          </td>
          </tr>
          </table>
</asp:Content>