﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>SUBD2012</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <script src="/SUBD2012/Scripts/jquery-1.4.1.js" type="text/javascript"></script>
    <script src="/SUBD2012/Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="/SUBD2012/Scripts/jquery-1.4.1-vsdoc.js" type="text/javascript"></script>
    <script src="/SUBD2012/Scripts/handlers.js" type="text/javascript"></script>
    <script src="/SUBD2012/Scripts/myHandler.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>


<body>
    <form runat="server">
    <div class="page">
        <div class="header">c
            <div class="title">
                <h1>
                    <a href = "/SUBD2012/Default.aspx">Абитуриент 2012</a>
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Войти</a> |<a href="~/Account/Register.aspx" ID="HeadRegisterStatus" runat="server">Регистрация</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Добро пожаловать <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Выйти" LogoutPageUrl="~/"/> |
                         <a href="~/Account/Profile.aspx?action=show" ID="MyProfile" runat="server">Мой Профиль</a>]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Главная"/>
                        <asp:MenuItem NavigateUrl="~/About.aspx" Text="О прокете"/>
                    </Items>
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
	<a href = "http://www.profanaliz.ru/">
        <img id="Img1" runat="server" src = "~/Images/profanaliz.png" width="448" height="112" alt="ПрофАнализ2012"/>
	</a>
	<a href = "http://www.ustu.ru/">
		<img alt = "USTU" runat="server" src="~/Images/page-logo.png" width="188" height="64" id="zoom1"/>
	</a>
    </div>
    </form>
</body>
</html>
